@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h4>Add a new patient</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.Label("Select doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Add new patient" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all patients", "Index")</p>