@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Doctor

<h2>Doctor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<p>@Html.ActionLink("Edit Doctor", "Edit", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Delete Doctor", "Delete", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>